*{
  --color-bug: #a8b820;
  --color-dark: #705848;
  --color-dragon: #7038f8;
  --color-electric: #f8d030;
  --color-fairy: #ee99ac;
  --color-fighting: #c03028;
  --color-fire: #f08030;
  --color-flying: #a890f0;
  --color-ghost: #705898;
  --color-grass: #78c850;
  --color-ground: #e0c068;
  --color-ice: #98d8d8;
  --color-normal: #a8a878;
  --color-poison: #a040a0;
  --color-psychic: #f85888;
  --color-rock: #b8a038;
  --color-steel: #b8b8d0;
  --color-water: #6890f0;
  --color-eff-immune: #d6d6d6;
  --color-eff-noteffective: #fdd0d0;
  --color-eff-veryeffective:#ccfbcc;
}


.poke-view{
  width: 100%;
  margin: 0;
}

.poke-view .buttoms_change, .poke-view .pokemon , .poke-view .stats, .poke-view .poke-body{
  float: left;
}

.container{
  height: 100%;
}

.col{
  margin: 0;
  padding: 0;
}

.row{
  height: 50%;
}

.buttoms_change{
  width: 3%;
  height: 250px;
  background-color: beige;

  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;

}

.buttoms_change img{

  width: 32px;
  height: 64px;
  padding: 8px;

  border-radius: 0 10px 10px 0;

}

.pokemon{
  width: 47%;
  height: 250px;
  background-color: beige;

  display: flex;
  align-items: center;
}


.pokemon .poke-img{
  float: left;
  height: auto;
  width: 30%;
  padding: 40px;
  margin-left: 10px;
}

.pokemon .info{
  width: 60%;
}

.pokemon .dimensions{
  width: 10%;
}

.pokemon p{
  margin: 0;
  line-height: 0px;
}

.pokemon #name{
  font-size: 100px;
  line-height: 75px;
  margin-bottom: 20px;
  font-weight: bold;
  font-variant: small-caps;

}

.pokemon #id{
  font-size: x-large;
}

.dimensions{
  padding: 30px;

  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

}

.dimensions p{
  font-weight: bold;
  margin: 10px;
}

.dimensions img{
  padding: 0;
  width: 32px;
}

.poke-body{
  width: 100%;
}

.title{
  font-weight: bold;
  padding: 20px;
  margin: 0;
}

.poke-evolution{
  width: 100%;

  display: block;
  text-align: center;

  padding: 40px;
}

.evolution-chain{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.poke-evo{
  width: 20%;
}

.poke-evo *{
  margin: 0;
}

.poke-evo a{
  text-decoration: none;
  color: black;
}

.poke-evo .poke-img-evo{
  width: 80%;
}

.poke-evo .poke-name-evo{
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

.poke-evo .poke-id-evo {
  font-size: small;
  font-style: italic;
  font-variant: small-caps;
}

.poke-moves{
  background-color: azure;
  width: 100%;

  display: block;
  text-align: center;
}

/* Instruccion para poner en la tabla, los valores sin datos con un caracter */
td:empty::before {content: "-"}

tr:hover{
  background-color: aqua;
}

.stats{
  width: 50%;
  height: 250px;
  text-align: center;
  font-weight: bold;
  color: rgb(18, 18, 18);
}

.stat{
  padding: 40px 0px;
  margin: 0;
  height: 100%;

  background-color: rgb(235, 235, 213);


  display: block;
  align-items: center;
  justify-content: center;

}

.stat p{
  margin: 0;
}

.base_stat{
  font-size: medium;
}

.effort{
  font-size: small;
  font-style: italic;
}

#hp:hover{
  background-color: rgb(233, 34, 44);
  color:cornsilk;
}

#attack:hover{
  background-color: rgb(216, 91, 19);
  color:cornsilk;
}

#defense:hover{
  background-color: rgb(245, 223, 31);
  color:cornsilk;
}

#special_attack:hover{
  background-color: rgb(41, 213, 243);
  color:cornsilk;
}

#special_defense:hover{
  background-color: mediumspringgreen;
  color:cornsilk;
}

#speed:hover{
  background-color: rgb(209, 39, 231);
  color:cornsilk;
}


.bug{
  background-color: var(--color-bug);
}

.dark{
  background-color: var(--color-dark);

}

.dragon{
  background-color: var(--color-dragon);
}

.electric{
  background-color: var(--color-electric);
}

.fairy{
  background-color: var(--color-fairy);
}

.fighting{
  background-color: var(--color-fighting);
}

.fire{
  background-color: var(--color-fire);
}

.flying{
  background-color: var(--color-flying);
}

.ghost{
  background-color: var(--color-ghost);
}

.grass{
  background-color: var(--color-grass);
}

.ground{
  background-color: var(--color-ground);
}

.ice{
  background-color: var(--color-ice);
}

.normal{
  background-color: var(--color-normal);
}

.poison{
  background-color: var(--color-poison);
}

.psychic{
  background-color: var(--color-psychic);
}

.rock{
  background-color: var(--color-rock);
}

.steel{
  background-color: var(--color-steel);
}

.water{
  background-color: var(--color-water);
}

.dark *, .dragon *, .fighting *, .ghost *, .poison *, .psychic *, .rock *, .water *{
  color: white;
}
