<div class="poke-view">

  <div class="pokemon">
    <img src="{{pokemon.getFrontSprite()}}" alt="{{pokemon.getName()}} image">
    <div class="info">
      <p id="id">#{{pokemon.getID()}}</p>
      <p id="name">{{pokemon.getName()}}</p>
      <div class="types-list">
        <poke-type  class="types" *ngFor="let type of pokemon.getTypes()" [name]="type" ></poke-type>
      </div>
    </div>

  </div>

  <div class="stats">
    <div class="container">
      <div class="row">
        <div class="col stat" id="hp">
          <p class="base_stat">HP : {{pokemon.getStats()?.hp?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.hp?.effort}}</p>
        </div>
        <div class="col stat" id="attack">
          <p class="base_stat">ATTACK : {{pokemon.getStats()?.attack?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.attack?.effort}}</p>
        </div>
        <div class="col stat" id="defense">
          <p class="base_stat">DEFENSE : {{pokemon.getStats()?.defense?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.defense?.effort}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col stat" id="special_attack">
          <p class="base_stat">SPECIAL ATTACK : {{pokemon.getStats()?.special_attack?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.special_attack?.effort}}</p>
        </div>
        <div class="col stat" id="special_defense">
          <p class="base_stat">SPECIAL DEFENSE : {{pokemon.getStats()?.special_defense?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.special_defense?.effort}}</p>
        </div>
        <div class="col stat" id="speed">
          <p class="base_stat">SPEED : {{pokemon.getStats()?.speed?.base_stat}}</p>
          <p class="effort">effort = {{pokemon.getStats()?.speed?.effort}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
