
<div class="container">
  <table class="table table-borderless">
    <thead  class="table-dark">
      <tr>
        <th scope="col">Sprit</th>
        <th scope="col">Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of itemList">
        <td><img src="{{item.sprit}}" alt="{{item.name}} image"></td>
        <td>{{item.name.replace("-", " ") | titlecase}}</td>
        <td>{{item.cost}} ₽</td>
        <td>{{item.category.replace("-", " ") | titlecase}}</td>
      </tr>
    </tbody>
  </table>
</div>

<a class="navegation previous" (click)="previousPage()" >Previous</a>

<!-- <p>{{page-1}}</p>
<p>{{page}}</p>
<p>{{page+1}}</p> -->

<a class="navegation next" (click)="nextPage()">Next</a>
