<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/table']">Tabla de tipos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/items']">Items</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/berries']">Berries</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" href="#" ngbDropdownToggle
               id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Generaciones
        </a>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : first_gen.offset, limit : first_gen.limit}">1ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : second_gen.offset, limit : second_gen.limit}">2ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : third_gen.offset, limit : third_gen.limit}">3ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : forth_gen.offset, limit : forth_gen.limit}">4ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : fifth_gen.offset, limit : fifth_gen.limit}">5ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : sixth_gen.offset, limit : sixth_gen.limit}">6ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : seventh_gen.offset, limit : seventh_gen.limit}">7ª Generación</a></li>
          <li><a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{offset : eighth_gen.offset, limit : eighth_gen.limit}"> 8ª Generación</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown" ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" href="#" ngbDropdownToggle
               id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tipos
        </a>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="poke-type" *ngFor="let type of types">
            <a class="dropdown-item" href="" [routerLink]="['/list']" [queryParams]="{type : type}">
              <div class="tipo">
                <img src="../../../assets/types/{{type}}.svg" alt="{{type}} type icon">
                <p>{{type | titlecase }}</p>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
