.link{
  color: black;
}

.border{
  text-align: center;

  padding: 10px;
  margin: 10px;

  width: 150px;
  height: 270px;

  float : left;
}

.border:hover{
  background-color: lavender;
  cursor: pointer;
}
