.link{
  color: black;
}

.pokemon{
  text-align: center;

  padding: 10px;
  margin: 10px;

  width: 150px;
  height: 270px;

  float : left;
}

.pokemon img{
  width: 100%;
}

.pokemon #id{
  font-style: italic;
  font-size: small;
}

.pokemon #name{
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.pokemon:hover{
  background-color: lavender;
  cursor: pointer;
}
