<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="type"></th>
        <th *ngFor="let type of types" scope="col" class="type {{type}}">{{type | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of damageMatrix | keyvalue">
        <th scope="row" class="type {{type.key}}">{{type.key | titlecase}}</th>
        <td class="eff{{damage.value.replace('.', '') }}" *ngFor="let damage of type.value | keyvalue">{{damage.value | number}}</td>
      </tr>
    </tbody>
  </table>
</div>
