<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : first_gen.offset, limit : first_gen.limit}"> 1ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : second_gen.offset, limit : second_gen.limit}"> 2ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : third_gen.offset, limit : third_gen.limit}"> 3ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : forth_gen.offset, limit : forth_gen.limit}"> 4ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : fifth_gen.offset, limit : fifth_gen.limit}"> 5ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : sixth_gen.offset, limit : sixth_gen.limit}"> 6ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : seventh_gen.offset, limit : seventh_gen.limit}">7ª Generación</a>
<br/>
<a class="link-dark" [routerLink]="['/list']" [queryParams]="{offset : eighth_gen.offset, limit : eighth_gen.limit}"> 8ª Generación</a>

