<div class="busqueda">

  <div class="generaciones box">
    <h2 class="title">Generaciones</h2>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : first_gen.offset, limit : first_gen.limit}">1ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : second_gen.offset, limit : second_gen.limit}">2ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : third_gen.offset, limit : third_gen.limit}">3ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : forth_gen.offset, limit : forth_gen.limit}">4ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : fifth_gen.offset, limit : fifth_gen.limit}">5ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : sixth_gen.offset, limit : sixth_gen.limit}">6ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : seventh_gen.offset, limit : seventh_gen.limit}">7ª Generación</a>
    <a class="gen-link link" [routerLink]="['/list']" [queryParams]="{offset : eighth_gen.offset, limit : eighth_gen.limit}"> 8ª Generación</a>
  </div>

  <div class="tipos box">
    <h2 class="title">Tipos</h2>

    <a *ngFor="let type of types" class="type-link link" [routerLink]="['/list']" [queryParams]="{type : type}">
      <div class="tipo">
        <img src="../../../assets/types/{{type}}.svg" alt="{{type}} type icon">
        <p>{{type | titlecase }}</p>
      </div>
    </a>

  </div>

  <div class="mini-boxs">
    <a [routerLink]="['/table']">
      <div class="mini-box link">
        <img src="../../../assets/fight.svg" alt="">
        <p>Tabla de tipos</p>
      </div>
    </a>

    <a class="link" [routerLink]="['/items']" [queryParams]="{page : 1}">
      <div class="mini-box link">
        <img src="../../../assets/ultraball.svg" alt="">
        <p>Items</p>
      </div>
    </a>

    <a class="link" [routerLink]="['/berries']" [queryParams]="{page : 1}">
      <div class="mini-box link">
        <img src="../../../assets/berries.svg" alt="">
        <p>Berries</p>
      </div>
    </a>
  </div>

</div>
