.busqueda{
  width: 100%;
  margin-top: 50px;
}

.busqueda .mini-boxs{
  float: left;
}

.box{
  float: left;
  height: 100%;
  margin: 10px;

  padding-bottom: 20px;

  border: 1px;
  border-color: black;
  border-style: solid;

}

.mini-boxs{
  width: 75%;
  height: 100%;
  margin: 10px;
}

.mini-box{
  float: left;
  background-color: black;
  color: white;

  height: 150px;
  width: 30%;

  margin-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.mini-box * {
  margin: 5px;
  padding: 2px;
}

.mini-box img{
  width: 32px;
  height: 32px;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  padding: 15px;

}

.generaciones{
  width: 20%;
  text-align: center;
}

.tipos{
  width: 75%;
  text-align: center;
}

.tipo{
  float: left;

  display: flex;
  flex-direction: row;
  align-items: center;

}

.tipo * {
  float: left;
}

.tipo img{
  width: 64px;
  height: 64px;
}

.link:hover{
  color: black;
  font-weight: bold;
  background-color: aqua;
}

.gen-link{

  display: block;
  text-decoration: none;
  color: black;

  font-size: 20px;
  padding: 10px;
  margin: 15px;

}

.type-link{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: black;

  width: 180px;
}

.type-link .tipo p{
  padding: 10px;
}
