.busqueda{
  width: 100%;
  margin-top: 50px;
}

.box{
  float: left;
  height: 100%;
  margin: 10px;

  height: 650px;

  border: 1px;
  border-color: black;
  border-style: solid;

}

.title {
  font-size: 30px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  padding: 15px;

}

.generaciones{
  width: 20%;
  text-align: center;
}

.tipos{
  width: 40%;
  text-align: center;
}

.tipo{
  float: left;

  display: flex;
  flex-direction: row;
  align-items: center;

}

.tipo * {
  float: left;
}

.tipo img{
  width: 64px;
  height: 64px;
}

.gen-link{

  display: block;
  text-decoration: none;
  color: black;

  font-size: 20px;
  padding: 10px;
  margin: 15px;

}

.link:hover{
  color: black;
  font-weight: bold;
  background-color: aqua;
}


.type-link{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: black;

  width: 180px;

}

.type-link .tipo p{
  padding: 10px;
}
